*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif ;
  /* background-color: rgb(216,251,245); */
}
body {
    background-color: cornsilk;
}
#header {
  position: fixed;
}
#top {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine;  */
  /* padding-bottom: 40px; */
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  body {
    /* Only change code below this line */
    background-color: cadetblue;

    /* Only change code above this line */
  }
}

#header-img {
  height: 35px;
}

main {
  position: relative;
  top: 60px;
}

#navtop {
  margin-left: 700px;
  /* margin-left: 120px;
    padding-left: 100px;
    position: relative;
    right: 400px;
    top: 30px; */

  font-size: 1.7rem;
  /* width: 50%; */
}

.nav-link {
  padding: 1px 17px;
}

#email {
  width: 50%;
  text-align: center;
}
#first {
  position: relative;
  top: 30px;
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}
#first h2 {
  padding: 5px;
}
#first input {
  margin: 30px;
}

#second1 {
  padding: 50px;
  display: flex;
  /* justify-content: ; */
  margin-left: 300px;
  margin-right: 300px;
  background-color: ;
}

#fea1i {
  height: 100px;
}

#detail1 {
  text-align: center;
  font-size: 1.5rem;
}

#second2 {
  padding-top: 30px;

  display: flex;
  /* justify-content: ; */
  margin-left: 400px;
  margin-right: 400px;
  background-color: ;
}

#fea12 {
  height: 100px;
}

#detail2 {
  text-align: center;
  font-size: 1.5rem;
}

#third {
  text-align: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

#video {
  width: 400px;
}

#forth {
  display: flex;
  justify-content: space-between;

  margin-left: 150px;
  margin-right: 150px;
}

  /* #fea1h {
    text-align: center;
} */

  /* max-width: 400px;
    margin: 2px auto; */

/* #firstfor {
  border: 2px solid black;
  text-align: center;
  line-height: 1.5em;
} */
.padd {
  border: 2px solid black;
  text-align: center;
  line-height: 1.5em;
}

.padd h2 {
  background-color: burlywood;
  margin: 10px;
}
.padd button {
    background-color: darkgoldenrod;
    padding: 10px;
  }
